body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  background-repeat: no-repeat;
  margin: 40px;
}

h2, h4, h5 {
  text-align: center;
}

h1 {
  font-size: 22px;
}

h3 {
  margin-left: 40px;
}

/* Header Section */

#header {
  background-color: black;
  position: fixed;
  width: 1600px;
  border-bottom: 1px solid seashell;
}

#menu {
  position: fixed;
  left: 800px;
}

/* Middle Section of the Page */

#background {

}

#mission {
  position: absolute;
  text-align: center;
  background-color: black;
  top: 300px;
  width: 1200px;
  vertical-align: center;
}

/* Third Half of the Page */

.month {
  width: 1000px;
  text-align: center;
}

img.teapictures {
  width: 300px;
  height: 200px;
  display: block;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  align-content: space;
}

.teaimagesspacing {
  width: 1000px;
  margin: 0 auto;
  display: inline-block;
}

.locationpic {
  height: 500px;
  width: 1200px;
}

.location1 {
  display: flex;
  justify-content: space-between;
  background-color: black;
}



.locate {
  display: flex;
  flex-direction: column;
  width: 300px;

}

.location1 .text-content {
  width: 300px;
  text-align: center;
}

.address {
  margin-top: 15px;
  margin-left: 40px;
}

.location2 .text-content {
  width: 300px;
  text-align: center;
}




.location3 .text-content {
  width: 300px;
  text-align: center;
}

/* Footer */

.copyright {
  margin-left: 20px;
}
