body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  background-repeat: no-repeat;
  margin: 40px;
}

h2, h4, h5 {
  text-align: center;
}

h1 {
  font-size: 22px;
}

h3 {
  margin-left: 40px;
}

/* Header Section */

#header {
  background-color: black;
  position: fixed;
  width: 1600px;
  border-bottom: 1px solid seashell;
}

#menu {
  position: fixed;
  left: 800px;
}

/* Middle Section of the Page */

#background {

}

#mission {
  position: absolute;
  text-align: center;
  background-color: black;
  top: 300px;
  width: 1200px;
  vertical-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Third Half of the Page */

.month {
  width: 1000px;
  text-align: center;
}

img.teapictures {
  width: 300px;
  height: 200px;
  display: block;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* Fourth Section of the Page */

.teacup {
  width: 1200px;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg")
}

.location {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
}

#location1 {
  background-color: black;
  width: 300px;
}

#location2 {
  background-color: black;
  width: 300px;
}

#location3 {
  background-color: black;
  width: 300px;
}

/* Footer */

.copyright {
  margin-left: 20px;
}
