body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  background-repeat: no-repeat;
}

/* Header Section */

#header {
  background-color: black;
  position: fixed;
  width: 1200px;
  border-bottom: 1px solid seashell;
}

#menu {
  position: fixed;
  left: 800px;
}

/* Middle Section of the Page */

#background {

}

#mission {
  position: absolute;
  text-align: center;
  background-color: black;
  top: 300px;
  width: 1200px;
  vertical-align: center;
}

/* Third Half of the Page */

#month {
  width: 1000px;
  align-content: center;
}

#firstpic {
}

.teas {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}
